<a href="https://colab.research.google.com/github/mirzarenardi01/Basic-Phyton-Programming-for-Data-Science/blob/main/Mirza_Yuniar_Renardi_1800015063_Tugas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

## Dataset

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/jokoeliyanto/Kelas-Dasar-Pejuang-Data-2.0/main/Super-Store-Dataset.csv")
df.head()

         order_id  order_date customer_id  ...     sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...  261.9600        2   41.9136
1  CA-2016-152156   11/8/2016    CG-12520  ...  731.9400        3  219.5820
2  CA-2016-138688   6/12/2016    DV-13045  ...   14.6200        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  957.5775        5 -383.0310
4  US-2015-108966  10/11/2015    SO-20335  ...   22.3680        2    2.5164

[5 rows x 9 columns]

## Variabel dataset

Variabel-variabel yang terdapat pada dataset ini adalah sebagai berikut:
1. **order_id** = Nomor ID pembelian(nota)
2. **order_data** = Tanggal pembelian
3. **customer_id** = Nomor ID pembeli
4. **segment** = Segmen produk 
5. **category** = Kategori produk
6. **sub_category** = Sub kategori produk
7. **sales** = Total harga pembelian
8. **quantity** = Jumlah produk dibeli
9. **profit** = Keuntungan

#Tugas Individu


1. Tentukan Segment mana dengan profit tertinggi! [30]
2. Tentukan Category mana dengan sales terbanyak!  [30]
3. Tentukan Sub-Category dengan quantity paling sedikit! [40]





4. **Challange Question!!!  Tentukan Bulan dengan Profit Tertinggi!!!** 

Bonus Nilai 100 di Salah Satu Tugas Lainnya

# Jawaban

#**1. Menentukan Segment dengan profit tertinggi**

In [20]:
#Melihat Segment apa saja yang ada
df.segment.value_counts()

Consumer       5188
Corporate      3019
Home Office    1781
Name: segment, dtype: int64

In [21]:
#Memilih masing-masing segment
df_Consumer=df[df['segment']=='Consumer']
df_Corporate=df[df['segment']=='Corporate']
df_Home_Office=df[df['segment']=='Home office']

In [22]:
#Menentukan segment dengan profit tertinggi
cons=df_Consumer.profit.sum()
corp=df_Corporate.profit.sum()
ho=df_Home_Office.profit.sum()
if cons>corp>ho:
  print("Segment dengan profit terbanyak adalah Consumer dengan profit",cons)
elif corp>ho:
  print("Segment dengan profit terbanyak adalah Corporate dengan profit",corp)
else: 
  print("Segment dengan profit terbanyak adalah Home Office dengan profit",ho)

Segment dengan profit terbanyak adalah Consumer dengan profit 128959.22080000001

#**2. Menentukan Category dengan sales terbanyak**

In [24]:
#Melihat Category apa saja yang ada
df.category.value_counts()

Office Supplies    6026
Furniture          2121
Technology         1841
Name: category, dtype: int64

In [25]:
#Memilih masing-masing category
df_Office_Supplies=df[df['category']=='Office Supplies']
df_Furniture=df[df['category']=='Furniture']
df_Technology=df[df['category']=='Technology']

In [26]:
#Menentukan category dengan sales terbanyak
os=df_Office_Supplies.sales.sum()
furn=df_Furniture.sales.sum()
tech=df_Technology.sales.sum()
if os>furn>tech:
  print("Category dengan sales terbanyak adalah Office Supplies dengan jumlah",os)
elif furn>tech:
  print("Category dengan sales terbanyak adalah Furniture dengan jumlah",furn)
else: 
  print("Category dengan sales terbanyak adalah Technology dengan jumlah",tech)

Category dengan sales terbanyak adalah Technology dengan jumlah 755815.72

# **3. Menentukan Sub-Category dengan quantity paling sedikit**

In [14]:
df.sub_category.value_counts()

Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        113
Copiers          64
Name: sub_category, dtype: int64

In [16]:
SubCategory=df.groupby('sub_category').quantity.sum()
print(SubCategory)
jumlah=min(SubCategory)
a=SubCategory.idxmin()

print("--------------------------------------------------------------------")
print("Sub-Category yang paling terkecil adalah",a , "dengan jumlah",jumlah)

sub_category
Accessories    2976
Appliances     1729
Art            3000
Binders        5974
Bookcases       868
Chairs         2356
Copiers         218
Envelopes       906
Fasteners       914
Furnishings    3563
Labels         1400
Machines        429
Paper          5178
Phones         3289
Storage        3158
Supplies        647
Tables         1241
Name: quantity, dtype: int64
--------------------------------------------------------------------
Sub-Category yang paling terkecil adalah Copiers dengan jumlah 218

# **4. Menentukan Bulan dengan profit yang paling tinggi**

In [29]:
#Melihat Bulan apa saja yang ada
df.order_date.value_counts()

9/5/2016      38
9/2/2017      36
11/10/2016    35
12/1/2017     34
12/2/2017     34
              ..
6/15/2016      1
8/16/2014      1
3/14/2017      1
10/17/2015     1
5/18/2015      1
Name: order_date, Length: 1237, dtype: int64

In [40]:
Bulan=df.groupby('order_date').profit.sum()
print(Bulan)
profit=max(Bulan)
b=Bulan.idxmax()

print("--------------------------------------------------------------------------------")
print("Bulan dengan profit yang paling tinggi adalah",b , "dengan profit",profit)

order_date
1/1/2017    -181.4109
1/10/2014     22.6537
1/10/2015   -373.3048
1/10/2016     55.3653
1/11/2014      3.0814
               ...
9/8/2016    -375.6300
9/8/2017    -510.9671
9/9/2014      16.3616
9/9/2016      12.1616
9/9/2017    -152.8754
Name: profit, Length: 1237, dtype: float64
--------------------------------------------------------------------------------
Bulan dengan profit yang paling tinggi adalah 9/23/2014 dengan profit 4808.5975